name: Build CI

on:
    push:
        branches: ["main"]
    pull_request:
    workflow_dispatch:

jobs:
    build:
        name: ${{ matrix.config.name }}
        runs-on: ${{ matrix.config.os }}-${{ matrix.config.os-version }}

        strategy:
            fail-fast: false
            matrix:
                config:
                    # - name: Windows
                    #   os: windows
                    #   os-version: 2022

                    - name: Linux (GCC, Arm64)
                      os: ubuntu
                      os-version: 24.04-arm
                      use-clang: false

                    - name: Linux (Clang, Arm64)
                      os: ubuntu
                      os-version: 24.04-arm
                      use-clang: true

                    - name: Linux (GCC)
                      os: ubuntu
                      os-version: 24.04
                      use-clang: false

                    - name: Linux (Clang)
                      os: ubuntu
                      os-version: 24.04
                      use-clang: true

                    - name: MacOS (x86_64)
                      os: macos
                      os-version: 15-intel
                      arm: false

                    - name: MacOS (Arm64)
                      os: macos
                      os-version: 14
                      arm: true

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: "0"

            - name: Setup MSVC (Windows)
              if: matrix.config.os == 'windows'
              uses: TheMrMilchmann/setup-msvc-dev@v3
              with:
                  arch: x64

            - name: Setup Clang (Linux)
              if: matrix.config.os == 'ubuntu' && matrix.config.use-clang == true
              run: |
                  wget https://apt.llvm.org/llvm.sh
                  chmod +x llvm.sh
                  sudo ./llvm.sh 20
                  echo "CC=clang-20" >> "$GITHUB_ENV"
                  echo "CXX=clang++-20" >> "$GITHUB_ENV"

            - name: Setup GCC (Linux)
              if: matrix.config.os == 'ubuntu' && matrix.config.use-clang == false
              uses: egor-tensin/setup-gcc@v1
              with:
                  version: 14
                  platform: x64 # note, this isn't really correct

            - name: Setup Clang (MacOS)
              if: matrix.config.os == 'macos'
              run: |
                  brew update
                  brew install llvm@20 lld@20
                  echo "$(brew --prefix)/opt/llvm/bin" >> $GITHUB_PATH
                  echo "LDFLAGS=-L$(brew --prefix)/opt/llvm/lib -L$(brew --prefix)/opt/llvm/lib/c++ -Wl,-rpath,$(brew --prefix)/opt/llvm/lib/c++" >> "$GITHUB_ENV"
                  echo "CPPFLAGS=-I$(brew --prefix)/opt/llvm/include" >> "$GITHUB_ENV"
                  echo "CC=clang" >> "$GITHUB_ENV"
                  echo "CC_LD=lld" >> "$GITHUB_ENV"

            - name: Setup meson (MacOS)
              if: matrix.config.os == 'macos'
              run: |
                  brew update
                  brew install meson
                  ## fix patch behaviour, by adding a replacement to the path
                  sudo mkdir -pv /opt/fakebin
                  echo -e '#!/bin/bash\nset -xe\ngit --work-tree . apply --ignore-whitespace -p1 "$5"' | sudo tee /opt/fakebin/patch
                  sudo chmod +x /opt/fakebin/patch
                  sudo echo "/opt/fakebin" >> $GITHUB_PATH

            # NOTE: meson has no dependencies, so --break-system-packages doesn't really break anything!
            - name: Setup meson
              if: matrix.config.os != 'macos'
              run: |
                  pip install meson --break-system-packages

            - name: Install dependencies (Linux)
              if: matrix.config.os == 'ubuntu'
              run: |
                  sudo apt-get update
                  sudo apt-get install ninja-build openssl libssl-dev libzstd-dev zlib1g-dev libbrotli-dev libgmp-dev libpam0g-dev -y --no-install-recommends

            - name: Install dependencies (MacOS)
              if: matrix.config.os == 'macos'
              run: |
                  brew update
                  brew install openssl@3.0 zstd zlib brotli git gmp bcrypt

            - name: Configure
              run: meson setup build -Dbuildtype=release -Dsecure=enabled -Dcompression_features=zstd,br,deflate,gzip,compress -Dother_features=${{( matrix.config.os  == 'macos') && 'bcrypt' || 'bcrypt,pam' }} --fatal-meson-warnings

            - name: Build
              run: meson compile -C build
