name: WS Test CI

on:
    push:
        branches: ["main"]
    pull_request:
    workflow_dispatch:

jobs:
    ws_test:
        name: WS Test - ${{ matrix.config.name }}
        runs-on: ${{ matrix.config.os }}-${{ matrix.config.os-version }}

        strategy:
            fail-fast: false
            matrix:
                config:
                    - name: x86_64
                      os: ubuntu
                      os-version: 24.04

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: "0"

            - name: Setup Clang
              run: |
                  wget https://apt.llvm.org/llvm.sh
                  chmod +x llvm.sh
                  sudo ./llvm.sh 21
                  sudo apt-get install libc++-21* libc++abi*21* llvm-21 libclang-rt-21-dev -y --no-install-recommends
                  echo "CC=clang-21" >> "$GITHUB_ENV"
                  echo "CXX=clang++-21" >> "$GITHUB_ENV"

            # NOTE: meson has no dependencies, so --break-system-packages doesn't really break anything!
            - name: Setup meson
              run: |
                  pip install meson --break-system-packages

            - name: Install dependencies
              run: |
                  sudo apt-get update
                  sudo apt-get install ninja-build openssl libssl-dev libzstd-dev zlib1g-dev libbrotli-dev wget ca-certificates bzip2 gcovr libgmp-dev libpam0g-dev -y --no-install-recommends

            - name: Install pypy2 and autobahn
              run: |
                  export KEEP_AUTO_PACKAGES_INSTALLED="true" 
                  ./tests/autobahn/install_pypy2.sh
                  ./tests/autobahn/install_autobahn.sh
                  sudo apt-get install openssl libssl-dev --no-install-recommends -y

            - name: Configure
              run: meson setup build -Dbuildtype=debug -Dsecure=enabled -Dcompression_features=zstd,br,deflate,gzip,compress -Dother_features=bcrypt,pam --fatal-meson-warnings

            - name: Build
              run: meson compile -C build

            - name: WS Tests
              run: |
                  wget -q https://raw.githubusercontent.com/vishnubob/wait-for-it/refs/heads/master/wait-for-it.sh
                  chmod +x ./wait-for-it.sh
                  ./build/server http 8080 -l trace &
                  ./wait-for-it.sh localhost:8080 -s --timeout=120
                  pypy -m autobahntestsuite.wstest --mode fuzzingclient --spec "./tests/autobahn/fuzzingclient.json"
                  wget http://localhost:8080/shutdown -O - -q

            - uses: actions/upload-artifact@v4
              with:
                  name: ws test results - ${{ matrix.config.name }}
                  path: |
                      ./reports/servers/**
